---
title: Consignment
layout: main
---

<div class="bg-dark py-3"> <div class="display-5 text-light mb-2 text-center">List Your Items With Us!</div>
</div>

<section class="bg-dark">
      <img style="width: 100%" src="/images/shakehands.jpg" alt="">
  <div class="row pb-4 container mx-auto">
  </div>
  </section>
<section class="bg-dark "> 
  <div class="container"> 
    <div class="row p-3">
    <div class="col-lg-6 justify-content-center d-flex flex-column">
     <h1 class="text-light my-yellow-color text-center">Consignment</h1> 
     <p class="text-light fs-5 ">Are you looking to declutter and make some extra cash? Look no further than Buy and Sell Kings! Our consignment service takes the stress out of selling your items by showcasing them on your behalf. And the best part? You get to keep 70% of the price you set for your items once they sell. </p>
    </div>
      <div class="col-lg-6 py-5 mb-3"> 
        <img style="width: 100%" src="/images/cashinhand.jpg" alt="">
    </div>
  </div>
</div>
</section>

