---
title: Contact
layout: main
---
<section>
<div class="bg-dark py-3"> <div class="display-5 text-light mb-2 text-center">Contact Us</div>
</div>
</section>

    <div class="container-fluid">
      <section class="map d-flex flex-column align-items-center justify-content-center">
        <div class="map--buttons d-flex justify-content-center text-center  pb-1">
          <div>
          <button class="map-button mb-1 btn btn-primary " data-toronto-button>
            Toronto
          </button>
          <button class="map-button mb-1 btn btn-primary" data-scarborough-button>
            Scarborough
          </button>
          </div>
          <div>
          <button class="map-button mb-1 btn btn-primary" data-oshawa-button>
            Oshawa
          </button>
          <button class="map-button mb-1 btn btn-primary" data-ajax-button>
            Ajax
          </button>
          </div>
        </div>
        <div class="container-fluid text-center" data-toronto-map>
          <b>TORONTO (647) 348-1763</b>
        <br>
      Store Hours
      <br>
Mon-Fri: 11 am – 8 pm<br>
Saturday: 11 am -7 pm<br>
Sunday: 11 am – 6 pm
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.3565937333724!2d-79.29685496257167!3d43.69040631825145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cc21929d303b%3A0x4fd4a936a9397d0d!2sBuy%20%26%20Sell%20Kings!5e0!3m2!1sen!2sca!4v1671811223081!5m2!1sen!2sca"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        <div class="container-fluid text-center" data-scarborough-map>
          <b>SCARBOROUGH (416) 438-0887</b><br>
          Store Hours<br>

Mon-Fri: 10 am – 8 pm<br>
Saturday: 10 am -7 pm<br>
Sunday: 11 am – 6 pm
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.524695967587!2d-79.22834902347094!3d43.7619660453888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0410bff5989%3A0x6cc44fd932370aeb!2sBuy%20%26%20Sell%20Kings!5e0!3m2!1sen!2sca!4v1671812696844!5m2!1sen!2sca"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        <div class="container-fluid text-center " data-ajax-map>
          <b>AJAX (905) 683-2212</b><br>
Store Hours<br>

Mon-Fri: 9:30 am – 8 pm<br>
Saturday: 10 am – 6 pm<br>
Sunday: 12 pm – 5 pm
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.645666064093!2d-79.02367872346758!3d43.842444440170006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4dfd82600fbbf%3A0x10c4bc3d859c487b!2sBuy%20%26%20Sell%20Kings!5e0!3m2!1sen!2sca!4v1671812726923!5m2!1sen!2sca"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        <div class="container-fluid text-center" data-oshawa-map>
          <b>OSHAWA (905) 240-2247</b><br>
        Store Hours<br>

Mon-Fri: 10 am – 7 pm<br>
Saturday: 11 am -6 pm<br>
Sunday: 11 am – 5 pm
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92084.50996795433!2d-79.10350412987236!3d43.842542492787096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d51d9931c5e5fb%3A0x46bd8bac57bab1f3!2sBuy%20%26%20Sell%20Kings!5e0!3m2!1sen!2sca!4v1671812778588!5m2!1sen!2sca"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </section>
    </div>
