---
title: We Buy
layout: main
---

<div class="bg-dark py-3">
    <div class="display-5 text-light mb-2 text-center">Need Cash?</div>
</div>
<section class="bg-dark ">
<div class="container">
  <div class="row">
    <div class="col-lg-6 justify-content-center d-flex flex-column">
     <h1 class="text-light my-yellow-color text-center">We Buy</h1> 
      <ul class="text-light mt-2">
        <li>Jewellery (gold, silver, platinum)</li>
        <li>Video games (Nintendo, Sega, Sony, Microsoft) </li>
        <li>Musical instruments (guitars, drums, dj equipment, horns, flutes etc.)</li>
        <li>
Consumer electronics (cell phones, digital cameras, laptops, MP3 players, tablets)
</li>
        <li>
Home audio / video Car audio Tools Recreational equipments (bikes, dart boards, pool cues, fishing, etc)
</li>
<li>
Collectibles military equipment, comics, toys, etc.
</li>
          <li>
***Stock taken at each location varies, please contact us before bringing your items in****
</li>
      </ul>
    </div>
    <div class="col-lg-6 py-5 mb-3">
      
      <img style="width: 100%" src="/images/cash.jpg" alt="">
    </div>
  </div>
</div>
</section>

    <section class="webuy-gold">
      <div class="webuy-gold-inside">
        <div class="container-fluid">
          <div class="container p-5">
            <div class="row gx-0">
              <div class="col mb-4">
                <h1 class="text-light text-center">
                  Why Sell Your Gold/Silver/Plat Here?
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">

                <div class="card bg-transparent border-0 text-light" style="width: 18rem;">
                  <div class="card-body">

                    <div class="checkmark">
                      <img src="images/checkmark.svg" class="card-img-top checkmark" alt="...">
                    </div>
                    <h5 class="card-title my-yellow-color text-center">
                      WE PAY YOU MORE
                    </h5>
                    <p class="card-text text-center">
Unlike places that pay you just for scrap, we will pay you more because we retail jewellery as well.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">

                <div class="card bg-transparent border-0 text-light" style="width: 18rem;">
                  <div class="card-body">
                    <div class="checkmark">
                      <img src="images/checkmark.svg" class="card-img-top checkmark" alt="...">
                    </div>
                    <h5 class="card-title my-yellow-color text-center">
                      QUALITY ASSURANCE
                    </h5>
                    <p class="card-text text-center">
                      We test your metals with the most accurate testing methods.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="card bg-transparent border-0 text-light" style="width: 18rem;">
                  <div class="card-body">
                    <div class="checkmark">
                      <img src="images/checkmark.svg" class="card-img-top checkmark" alt="...">
                    </div>
                    <h5 class="card-title my-yellow-color text-center">
                      EXCELLENT <br>CUSTOMER SERVICE
                    </h5>
                    <p class="card-text text-center">
                      At the Buy & Sell Kings, we don’t just aim to pelase. We deliver top notch service that can’t be beat!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark">
      <div class="container">
      <div class="row">
        <div class="col text-center py-5 fs-5 text-light">
          <h1 class="my-yellow-color mb-3">Rules For Selling</h1>
          Individual selling <span class="my-yellow-color">must be 18 years of age.</span> Ontario <span class="my-yellow-color">Photo Identification required</span>
           (Passport, Driver’s License, Ontario Photo Card).
        </div>
      </div>
      </div>
    </section> 
