---
title: We Sell
layout: main
---


<div class="bg-dark py-3"> <div class="display-5 text-light mb-2 text-center">We Sell A Large Variety Of Quality Items</div>
</div>
<section class="bg-dark py-5">
<div class="container">
  <div class="row">

    <div class="col-lg-6 justify-content-center d-flex flex-column">
     <h1 class="text-light my-yellow-color text-center">We Sell</h1> 
      <ul class="text-light mt-2">
        <li>Jewellery (gold, silver, platinum)</li>
        <li>Video games (Nintendo, Sega, Sony, Microsoft) </li>
        <li>Musical instruments (guitars, drums, dj equipment, horns, flutes etc.)</li>
        <li>
Consumer electronics (cell phones, digital cameras, laptops, MP3 players, tablets)
</li>
        <li>
Home audio / video Car audio Tools Recreational equipments (bikes, dart boards, pool cues, fishing, etc)
</li>
<li>
Collectibles military equipment, comics, toys, etc.
</li>
          <li>
***Stock taken at each location varies, please contact us before bringing your items in****
</li>
      </ul>
    </div>
    <div class="col-lg-6 align-items-center d-flex">
      
            <div id="gtacarousel" class="carousel slide gta-carousel" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1300">
                  <img src="images/slider1.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider2.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider3.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider4.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider5.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider6.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2300">
                  <img src="images/slider7.jpg" class="d-block w-100 gta-image" alt="...">
                </div>
              </div>
            </div>
    </div>
  </div>
  
</div>
</section>
<div class="container text-center bg-dark">
</div>

    <section class="bg-dark">
      <div class="container">
      <div class="row">
        <div class="col-6 p-3">
          <img class="pacman-image" src="/images/pacman.jpg" alt="">
        </div>
        <div class="col-6 d-flex align-items-center py-5 fs-5 text-light">
          <div class="text-center"> 
          <h1 class="my-yellow-color mb-3">30 Day Exchange Policy</h1>
          Buy & Sell Kings offers a 30-day warranty against defects in the products we sell.
          Exchange for another item or store credit is provided upon presentation of a valid sales receipt.
          </div>
        </div>
      </div>
      </div>
    </section> 
